<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Please login before you continue. </h1>
    <form method ="POST">
        <label for = "username">Username:</label>
        <input type = "text" id = "username" name = "username" required>
        <br>
        <label for = "password">Password:</label>
        <input type = "password" id="password" name ="password" required>
        <br>
        <input type = "submit" value = "Login">
    </form>

</body>
</html>
