<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "quiz_questions">
    <h1> Question {{ num }}</h1>
    <p>{{ question }}</p>

    {% if hint %} 
        <p class="hint">{{ hint }}</p> 
    {% endif %}

    {% if result %}
        <p class = "{{ 'correct_message' if result == 'Nice! Your answer was Correct!' else ' incorrect_message' }}">{{ result }}</p>
    {% endif %}

    <form method="POST">
        {% if not result %}
            {% for option in options %}
            <input type="radio" name="answer" value="{{ option }}">{{ option }}<br>
            {% endfor %}
        <input type = "submit" value = "Submit">
        <button type="submit" name="action" value="hint">Hint</button> <!-- button for hints-->

        {% else %}
        <input type="submit" value ="Next Question">
        {% endif %}

    </form>
</div>
    

</body>
</html>
