<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to the Movie Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>

            <li><a href="{{ url_for('login') }}"><button>Login</button></a></li>
            <li><a href="{{ url_for('register') }}"><button>Register</button></a></li>
            <li><a href="{{ url_for('logout') }}"><button>Logout</button></a></li>
        </ul>
    </nav>
    
    <h1>Welcome to the Movie Generator!</h1>


    <a href="{{ url_for('quiz') }}"><button>Begin</button></a>
    <a href="{{ url_for('watchlist') }}"><button>Watchlist</button></a>
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>
