<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "quiz_questions">
        <h1> Question {{ num }}</h1>
        <p>{{ question }}</p>
        <form method="POST">
            {% for option in options %}
                <input type="radio" name="answer" value="{{ option }}" required>{{ option }}<br>
            {% endfor %}
        
            {% if result %}
                <p class = "{{ 'correct_message' if result == 'Nice! Your answer was Correct!' else 'incorrect_message' }}">{{ result }}</p>
                <input type="hidden" name="next" value="true">
                <input class="quiz_submit" type="submit" value ="Next Question">
            {% else %}
                <input class="quiz_submit" type = "submit" value = "Submit">
            {% endif %}
        </form>
    </div>
    <script>
        document.getElementById('progress-fill').style.width = '{{ progress }}%'; 
    </script>
</body>
</html>
